html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.item-span {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button {
    border-radius: 2rem;
}